<div class="well">
	<div class="pull-right">
		<%= link_to "Søk på denne stillingen", { controller: :positions, action: :apply, referral_position: @position.id }, class: "btn btn-primary" %>
		<%= link_to t('position.back_button_sections'), positions_section_path(@position.group.section_id), :class => "btn btn-info" if !@position.group.section_id.nil? %>
	</div>

  <h2 class="position-name"><%= @position.title %></h2>
  <div class="justified position-text"><%=raw format(@position.description) %></div>
</div>
