<h1>Takk for din søknad!</h1>

<p>Din søknad er nå registrert.</p>

<p>Du kan logge inn på <a href="https://opptak.isfit.org">opptak.isfit.org</a> frem til søknadsfristen, og gjøre endringer på søknaden om du ønsker dette. Ta også gjerne kontakt med de ansvarlige for de stillingene du har søkt på, for å presentere deg selv.</p>

<b>For å logge inn bruk epost:</b>
<p><%= @email %></p>
<b>Passord:</b>
<p><%= @password %></p>