<div>
      <h1 class="page-header"><%= t("position.motivational") %></h1>

      <div class="pull-right" style="margin-left: 1em;">
        <%# link_to t("position.form"), new_applicant_user_path, class: "btn btn-primary btn-large"%>
      </div>
      <% if I18n.locale.to_s.eql?('no') %>
   
      <div class="lead"><%= raw format("
      <blockquote><p>Mitt beste ISFIT-minne er da jeg innså at jeg har blitt kjent med noen av de beste menneskene jeg har møtt i hele mitt liv gjennom dette vervet. Du går inn med hele deg, og får derfor også mye igjen. Festivalen for 2013 er jo over, men vennskapene varer evig.</p><small>Birgitte Storaker - Hygge, ISFiT 2013</small></blockquote>
        <p>Kan du kjøre bil?  Bor det en liten “hobbykokk” i deg? Trives du best når du får veilede andre? Kanskje du liker å lage film? Eller er du bare glad i å gjøre andre glade?</p>
        <p>Da burde du søke som sjåfør, medlem i filmgjengen, workshopkontakt eller velferdsfunksjonær og ta del i et unikt fellesskap. Når ISFiT arrangeres 5.-15. februar 2015, kommer det studenter fra hele verden for å delta og vi trenger din hjelp for at alt skal gå som smurt! Bli kjent med engasjerte studenter fra andre studier og få en opplevelse for livet. Lag deg en supersosial februar, ta del i moroa, og ikke minst - kjenn på ISFiT-følelsen!</p>
          <p>Vil du få en opplevelse å se tilbake på fra studietiden - da vil jeg anbefale på det varmeste å søke ISFiT. Utvid horisonten din, verden er tross alt større enn Trondheim.</p>
          <p>ISFiT er verdens største internasjonale studentfestival med tematisk fokus. Nå kan du være med på å gjøre den til verdens beste! 
          Stillingsannonsene finner du #{ link_to "her", positions_path }.</p>
          <p>Søknadsfrist  20.10.2014, 23:59.</p>

          <p>Med vennlig hilsen<br>
            Marius Jones<br>
            President</p>") 
        %>
      </div>
    <% else %>
          <div class="lead"><%= raw format("
      <p>Do you want to get the experience of a lifetime? Is there a small “hobby chef” or filmmaker living inside you? Do you want to contribute to the world’s biggest student festival? Expand you horizons and apply ISFiT! After all, the world is bigger than Trondheim!</p>
        <p>The deadline for the application is 20.10.2014, 23:59.</p>") 
        %>
      </div>
    <% end %>

  </ul>
  </ul>

<div class="row">
  <center>
  <div class="col-md-12">
    <%=link_to t("position.to_positions"), positions_path, class: "btn btn-lg btn-default" %>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
     <iframe src="//www.youtube.com/embed/iR3SfdMZ58w" width="100%" height="600px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
    <div class="col-md-2">
  </div>
  </center>
</div>


</div>
