// Place all the styles related to the Parliaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label.radio {
	
	font-weight: normal;
	padding-top: 7px;
	margin-top: 7px;
	margin-bottom: 5px;

}

p.help-block {
	font-weight: normal;

}

.label_hint {
	padding-top: 7px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.hint_hint {
	padding-top: 7px;
	margin-top: 7px;
	margin-bottom: 5px;
	font-family: verdana,arial,helvetica,sans-serif;

}
.test {
	margin-top: 0px;
	margin-bottom: 7px;	

}
.my_button {
	background: #EFAB44;	
}
.hint_hint_1 {
	padding-top: 7px;
	margin-top: 7px;
	margin-bottom: 5px;
	font-weight: normal;
}
label.had_cimilar_experience_ja{
	font-weight: normal;
}
.label_hint_for_default_form {
	padding-top: 7px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: verdana,arial,helvetica,sans-serif;
}
.unbold{
	font-weight: normal;
}